NET "ADDR<1>"   LOC = "P20";
NET "ADDR<2>"   LOC = "P23";
NET "ADDR<3>"   LOC = "P25";
NET "ADDR<4>"   LOC = "P31";
NET "ADDR<5>"   LOC = "P32";
NET "ADDR<6>"   LOC = "P27";
NET "ADDR<7>"   LOC = "P24";
NET "ADDR<8>"   LOC = "P22";
NET "ADDR<9>"   LOC = "P19";
NET "ADDR<10>"  LOC = "P18";
NET "ADDR<11>"  LOC = "P17";
NET "ADDR<12>"  LOC = "P16";
NET "ADDR<13>"  LOC = "P15";
NET "ADDR<14>"  LOC = "P13";
NET "ADDR<15>"  LOC = "P12";
NET "ADDR<16>"  LOC = "P10";
NET "ADDR<17>"  LOC = "P9";
NET "ADDR<18>"  LOC = "P8";
NET "ADDR<19>"  LOC = "P7";
NET "ADDR<20>"  LOC = "P6";
NET "ADDR<21>"  LOC = "P4";
NET "ADDR<22>"  LOC = "P5";
NET "ADDR<23>"  LOC = "P2";
NET "DBUS<12>"  LOC = "P52";
NET "DBUS<13>"  LOC = "P56";
NET "DBUS<14>"  LOC = "P57";
NET "DBUS<15>"  LOC = "P58";
NET "BERR_n"    LOC = "P11";
NET "UDS_n"     LOC = "P61";
NET "LDS_n"     LOC = "P62";
NET "RW"        LOC = "P63";
NET "AS_n"      LOC = "P60";
NET "RESET_n"   LOC = "P64";
NET "C1n"       LOC = "P38";
NET "C3n"       LOC = "P39";
NET "CFGIN_n"   LOC = "P40";
NET "CFGOUT_n"  LOC = "P42";
NET "OVR_n_1"   LOC = "P34";
NET "OVR_n_2"   LOC = "P35";
NET "DTACK_n"   LOC = "P1";
NET "IDE_OFF_n" LOC = "P51";
NET "IOR_n"     LOC = "P44";
NET "IOW_n"     LOC = "P45";
NET "IDECS1_n"  LOC = "P50";
NET "IDECS2_n"  LOC = "P49";
NET "IDEBUF_OE" LOC = "P59";
NET "IDE_ROMEN" LOC = "P33";
NET "SLAVE_n"   LOC = "P43";
NET "CLK7M" BUFG = "CLK";
